<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<br>

* 직원 및 부서 자료 *<br><br>

{{con1|safe}}<br><br>

* 부서별 급여합, 급여평균 *<br><br>

부서별 급여합 : <br>
총무부 : {{con2.sum.총무부}}<br>
영업부 : {{con2.sum.영업부}}<br>
전산부 : {{con2.sum.전산부}}<br>
관리부 : {{con2.sum.관리부}}<br>

<br>

부서별 급여평균 : <br>
총무부 : {{con2.avg.총무부}}<br>
영업부 : {{con2.avg.영업부}}<br>
전산부 : {{con2.avg.전산부}}<br>
관리부 : {{con2.avg.관리부}}<br>

<img src="static/images/graph.png">

<br><br>
* 성별, 직급별 빈도표 *<br><br>
{{con4|safe}}

</body>
</html>